<table class="eBlock" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td style="padding:3px;">
        <div class="eTitle" style="text-align:left;">
          <h3>
            <%= title %>
          </h3>
        </div>
        <div class="eMessage" style="text-align:left;clear:both;padding-top:2px;padding-bottom:2px;">
          <%= content %>
        </div>
      </td>
    </tr>
  </tbody>
</table>