/*

 *= require fizruk544dou/all
 *= require froala_editor.min.css
 *= require froala_page.min.css
 *= require font-awesome
 *= require fizruk544dou/my
 *= require fizruk544dou/styles
 *= require fizruk544dou/album
 *= require comments
*/



.field, .actions {
  margin-bottom: 10px;
}



#notice {
  color: green;
}

.field {
  -moz-border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
}
.field_with_errors {
  padding: 2px;
  border: 2px solid red;
  -moz-border-radius: 5px 5px 5px 5px;
  display: table;
  color: black;
}


#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  -moz-border-radius: 5px 5px 5px 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;

  background-color: #f0f0f0;
  
  
}

#error_explanation ul li {
    font-size: 12px;
    
    list-style: square;
  }


td.photo {
  padding: 10px;
}


.custom-file-input::before {
  content: 'Выберите файл';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


div.message {
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
}



.commentbox{
  background-color: #ececec;
  width: 450px;
  padding: 10px;
}

.commentfooter{

  padding-left: 58px;
  padding-top: 1px;
  margin-bottom: 10px;
  font-size: 90%;
  color: #4A4A4A;
}

.answer {
  margin-left: 50px;
  width: 60%;
}

.alert {
    position: absolute !important;
    opacity: 0.8;
    max-width: 500px;
    z-index: 9999;
}

